.Signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >h2{
        font-size: 2rem;
        text-align: center;
        margin: 3rem;
        margin-bottom: 7rem;
    }
    >input{
        outline: none;
        background: transparent;
        font-size: 1.25rem;
        border: none;
        border-bottom: 1px solid grey;
        margin: 10px;
        width: 33%;
        &::placeholder{
            font-size: 1.25rem;
        }
    }
    >button{
        border: 2px solid grey;
        border-radius: 10px;
        padding: 10px 20px;
        margin: 20px;
        margin-top: 2rem;
        font-size: 1.15rem;
        background: White;
        &:hover{
            background: rgba(94, 94, 94, 0.1);
            cursor: pointer;
        }
    }
}